
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="http://red-news.ru/wp-content/themes/red-news/favicon.ico"/>
  <title>Red News | Последние новости со всего мира</title>
    <link href="http://red-news.ru/wp-content/themes/red-news/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://red-news.ru/wp-content/themes/red-news/css/jcarousel.responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://red-news.ru/wp-content/themes/red-news/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- All in One SEO Pack 2.2.6.1 by Michael Torbert of Semper Fi Web Design[277,284] -->
<link rel="canonical" href="http://red-news.ru/" />
<!-- /all in one seo pack -->
<link rel="alternate" type="application/rss+xml" title="Red News &raquo; Лента комментариев к &laquo;Главная&raquo;" href="http://red-news.ru/glavnaya/feed/" />
<link rel='stylesheet' id='ayvpp-admin-css'  href='http://red-news.ru/wp-content/plugins/automatic-youtube-video-posts/css/style.css?ver=4.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='wp-polls-css'  href='http://red-news.ru/wp-content/plugins/wp-polls/polls-css.css?ver=2.68' type='text/css' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='http://red-news.ru/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
<link rel='stylesheet' id='wordpress-popular-posts-css'  href='http://red-news.ru/wp-content/plugins/wordpress-popular-posts/style/wpp.css?ver=3.2.1' type='text/css' media='all' />
<script type="text/javascript">var ayvpp_root = "http://red-news.ru";</script>
<script type='text/javascript' src='http://red-news.ru/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://red-news.ru/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://red-news.ru/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://red-news.ru/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.1.5" />
<link rel='shortlink' href='http://red-news.ru/' />
<style type="text/css">
.wp-polls .pollbar {
  margin: 1px;
  font-size: 6px;
  line-height: 8px;
  height: 8px;
  background-image: url('http://red-news.ru/wp-content/plugins/wp-polls/images/default/pollbg.gif');
  border: 1px solid #c8c8c8;
}
</style>
<script type="text/javascript">var ayvpp_root = "http://red-news.ru";</script>
    <script src="http://red-news.ru/wp-content/themes/red-news/js/jquery.jcarousel.min.js"></script>
    <script src="http://red-news.ru/wp-content/themes/red-news/js/jcarousel.responsive.js"></script>
    <script src="http://red-news.ru/wp-content/themes/red-news/js/jquery.mobilemenu.js"></script>
    <script src="http://red-news.ru/wp-content/themes/red-news/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  jQuery(document).ready(function () {
    jQuery('#wp-calendar a').attr('title', '');
    jQuery('.menu ul').mobileMenu({
      defaultText: 'Меню...',
      className: 'responsive-menu',
      subMenuDash: '-'
    });
  });
  </script>
  <script type="text/javascript" src="http://red-news.ru/wp-content/themes/red-news/js/orphus.js"></script>

  </head>

  <body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-18">
      <a href="http://red-news.ru"><img src="http://red-news.ru/wp-content/themes/red-news/img/logo.jpg" alt="Red News"/></a>
      <div class="time">Среда, 10.06.15, 2:20</div>
      <div style="float:right;margin:25px 0 0 0;">
      <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid menu">
  <div class="row">
    <div class="col-xs-18">
      <div class="red">
      <div class="black">
        <ul id="menu-verxnee-menyu" class=""><li id="menu-item-62" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-62"><a href="http://red-news.ru/">Главная</a></li>
<li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254"><a href="http://red-news.ru/novosti/">Новости</a></li>
<li id="menu-item-63" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-63"><a href="http://red-news.ru/category/v-mire/">В мире</a></li>
<li id="menu-item-153" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"><a href="http://red-news.ru/category/rossiya/">Россия</a></li>
<li id="menu-item-64" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-64"><a href="http://red-news.ru/category/obshhestvo/">Общество</a></li>
<li id="menu-item-614" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-614"><a href="http://red-news.ru/category/politika/">Политика</a></li>
<li id="menu-item-65" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-65"><a href="http://red-news.ru/category/biznes/">Бизнес</a></li>
<li id="menu-item-14129" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14129"><a href="http://red-news.ru/category/nauka-i-texnika/">Наука и техника</a></li>
<li id="menu-item-66" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-66"><a href="http://red-news.ru/category/sport/">Спорт</a></li>
</ul>       <form class="search" action="http://red-news.ru" method="get">
        <input type="text" class="stext" placeholder="Поиск по сайту" name="s"/><input class="sbutton" type="submit" value="Найти"/>
        </form>
      </div>
<div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
    <!-- Breadcrumb NavXT 5.2.0 -->
<span typeof="v:Breadcrumb"><span property="v:title">Red News</span></span></div>
      </div>
    </div>
  </div>
</div><div class="container-fluid content">
  <div class="row">
        <div class="col-md-3 sidebar">
    <h4>Самое читаемое</h4>
          <div class="popular-block">
        <a href="http://red-news.ru/lenovo-anonsirovala-smartfon-s-predystanovlennoi-igroi-world-of-tanks/">
                    <img width="100" height="70" src="http://red-news.ru/wp-content/themes/red-news/img/nophoto.jpg" class="attachment-small-thumb wp-post-image" alt="">
                    Lenovo анонсировала смартфон с предустановленной игрой World of Tanks       </a>
      </div>
        <div class="popular-block">
        <a href="http://red-news.ru/videozapis-s-ypavshego-na-zemlu-obtekatelia-rakety-falcon-9-nashli-v-more/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/06/c526229f53248befbeae4df0d618b11b-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="c526229f53248befbeae4df0d618b11b" />         Видеозапись с упавшего на Землю обтекателя ракеты Falcon 9 нашли в море       </a>
      </div>

<ul class="sidebar">
<li id="calendar-2" class="widget widget_calendar"><h2 class="widgettitle">Календарь</h2>
<div id="calendar_wrap"><table id="wp-calendar">
  <caption>Июнь 2015</caption>
  <thead>
  <tr>
    <th scope="col" title="Понедельник">Пн</th>
    <th scope="col" title="Вторник">Вт</th>
    <th scope="col" title="Среда">Ср</th>
    <th scope="col" title="Четверг">Чт</th>
    <th scope="col" title="Пятница">Пт</th>
    <th scope="col" title="Суббота">Сб</th>
    <th scope="col" title="Воскресенье">Вс</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <td colspan="3" id="prev"><a href="http://red-news.ru/2015/05/">&laquo; Май</a></td>
    <td class="pad">&nbsp;</td>
    <td colspan="3" id="next" class="pad">&nbsp;</td>
  </tr>
  </tfoot>

  <tbody>
  <tr><td>1</td><td><a href="http://red-news.ru/2015/06/02/" title="Пилорылые скаты помогли отследить девственное размножение в природе
Windows 10 выйдет без русскоязычной версии Cortana
Ученые нашли связь между избавлением от глистов и курением марихуаны
РКЦ проведет Международную конференцию по квантовым технологиям
Bethesda намекнула на скорый анонс игры Fallout 4
Спутник на солнечных парусах сделал первые фотографии
Археологи уличили скифов в наркомании
Nintendo опровергла слухи о выборе Android в качестве OC для новой приставки">2</a></td><td><a href="http://red-news.ru/2015/06/03/" title="Роскосмос окончательно определил причину аварии «Прогресса»
НАСА показало испытания ракетного двигателя для полетов на Марс
Самолет на солнечных батареях вынужденно сядет в Японии
Пентагон объявил конкурс на создание аналога российского ракетного двигателя РД-180
Американка посчитала первый компьютер Apple мусором
В Бразилии нашли первую птицу Гондваны
На БАКе начались эксперименты на рекордной мощности
Стивен Хокинг задумался об эвтаназии
Sony анонсировала самый тонкий и легкий планшет
Анонсирована Fallout 4
Стала известна дата выхода Windows 10
Ученые назвали сроки раскрытия солнечных парусов LightSail
Ученые нашли у шимпанзе способности к приготовлению еды
Станция Cassini показала фотографию Гипериона">3</a></td><td><a href="http://red-news.ru/2015/06/04/" title="ASUS показала все новинки перед Computex 2015
Биологи объяснили привередливость кошек в пище
Рогозин назвал сроки начала строительства пусковых столов для «Ангары»
Спутники Плутона оказались в хаотическом движении
Yota Devices разработает планшет
Роскосмос рассказал о причинах аварии «Протон-М» с мексиканским спутником
Во Франции найдены чудесно сохранившиеся останки дворянки времен XVII века
Медики презентовали онлайн-тест на скорую смерть
ВЦИОМ узнал отношение россиян к инновациям в медицине
Анонсировано переиздание приключенческих игр Uncharted
В США нашли крупнейшую акулу эпохи динозавров">4</a></td><td><a href="http://red-news.ru/2015/06/05/" title="Нос самок оказался способным к управлению мозгом
Всю историю вирусных инфекций человека научились видеть по одной капле крови
SpaceX в 2016 году начнет испытания дешевого спутникового интернета
Названы сроки первого пилотируемого пуска «Ангары» с Восточного
Названы сроки первого после аварии пуска «Прогресса»
«КамАЗ» провел первое тестирование беспилотного грузовика
Из игры Final Fantasy XV уберут ключевую героиню
В Канаде нашли динозавра-Хеллбоя с королевским воротником
Названы сроки начала свободной продажи Apple Watch в магазинах
В США разрешили «виагру для женщин»
Эксперт по компьютерной безопасности назвал «Яндекс.Такси» большой дырой
С Плесецка стартовала ракета-носитель «Союз-2»
В США провели первую в мире успешную трансплантацию части черепа вместе с кожей
Запущенный с Плесецка военный спутник выведен на целевую орбиту
Началась онлайн-трансляция «олимпиады роботов» DARPA">5</a></td><td><a href="http://red-news.ru/2015/06/06/" title="СМИ узнали дату начала продаж нового iPhone
Робот-самурай научился драться катаной лучше человека">6</a></td><td><a href="http://red-news.ru/2015/06/07/" title="В Англии добились самоустранения микроповреждений на поверхности самолета
Lenovo анонсировала смартфон с предустановленной игрой World of Tanks">7</a></td>
  </tr>
  <tr>
    <td><a href="http://red-news.ru/2015/06/08/" title="Видеозапись с упавшего на Землю обтекателя ракеты Falcon 9 нашли в море
Ученые узнали о золотой лихорадке в древней Британии
Волков заподозрили в приручении обезьян
Российские эксперты научились управлять техникой силой мысли
Российского боевого андроида научат бегать к концу года
Apple представит обновления iOS и OS X на конференции WWDC
Amazon займется разработкой крупного игрового проекта
Обезьяне в Китае пересадят голову
Cоздатели Final Fantasy анонсировали шутер о гигантских роботах
СМИ сообщили о подготовке маневра уклонения МКС от космического мусора
Астрономы объяснили причину одиночного рождения звезд
Из коробки для пиццы сделали проектор фильмов
НАСА показало трехмерную анимацию Цереры
Компьютер за 9 долларов собрал 2 миллиона на Kickstarter
НАСА начало испытания марсианской летающей тарелки">8</a></td><td><a href="http://red-news.ru/2015/06/09/" title="Apple представила новую мобильную платформу iOS 9
МКС избежала столкновения с обломком американского спутника
Apple анонсировала платный музыкальный сервис Apple Music
Ученые объяснили бесследное исчезновение малайзийского Boeing
Доказаны общие генетические истоки шизофрении и творчества
Спутник на солнечных парусах сделал первое селфи
Создатели World of Tanks возродят классическую стратегию
Нейрофизиологи научились вводить электронику в мозг при помощи шприца
Геймеры экранизовали Grand Theft Auto
В Колизее восстановили лифт для диких зверей">9</a></td><td id="today">10</td><td>11</td><td>12</td><td>13</td><td>14</td>
  </tr>
  <tr>
    <td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
  </tr>
  <tr>
    <td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
  </tr>
  <tr>
    <td>29</td><td>30</td>
    <td class="pad" colspan="5">&nbsp;</td>
  </tr>
  </tbody>
  </table></div></li>
</ul>

    </div>    <div class="col-md-12">
        <h2 style="color:#787878;font-family:times new roman, serif;text-align:center;margin:0;">Самые горячие новости !</h2>
      <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
<li><a href="http://red-news.ru/v-kolizee-vosstanovili-lift-dlia-dikih-zverei/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/7146368ef030cf5eb394a44549f9b1b6.jpg" class="attachment-post-thumbnail wp-post-image" alt="7146368ef030cf5eb394a44549f9b1b6" /><br/>В Колизее восстановили лифт для диких зверей</a></li>
<li><a href="http://red-news.ru/geimery-ekranizovali-grand-theft-auto/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/5631e39776155b91fe1bf4111af73fd9.jpg" class="attachment-post-thumbnail wp-post-image" alt="5631e39776155b91fe1bf4111af73fd9" /><br/>Геймеры экранизовали Grand Theft Auto</a></li>
<li><a href="http://red-news.ru/neirofiziologi-naychilis-vvodit-elektroniky-v-mozg-pri-pomoshi-shprica/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/945e33cdb18ebe5b9e2bea3e80ac6819.jpg" class="attachment-post-thumbnail wp-post-image" alt="945e33cdb18ebe5b9e2bea3e80ac6819" /><br/>Нейрофизиологи научились вводить электронику в мозг при помощи шприца</a></li>
<li><a href="http://red-news.ru/sozdateli-world-of-tanks-vozrodiat-klassicheskyu-strategiu/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/225492746b58442618d3822827ed915a.jpg" class="attachment-post-thumbnail wp-post-image" alt="225492746b58442618d3822827ed915a" /><br/>Создатели World of Tanks возродят классическую стратегию</a></li>
<li><a href="http://red-news.ru/spytnik-na-solnechnyh-parysah-sdelal-pervoe-selfi/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/ad71ff79e41513f8f8388d79c86c2494.jpg" class="attachment-post-thumbnail wp-post-image" alt="ad71ff79e41513f8f8388d79c86c2494" /><br/>Спутник на солнечных парусах сделал первое селфи</a></li>
<li><a href="http://red-news.ru/dokazany-obshie-geneticheskie-istoki-shizofrenii-i-tvorchestva/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/6ebc771b0a811d8e7f935859d879ac8b.jpg" class="attachment-post-thumbnail wp-post-image" alt="6ebc771b0a811d8e7f935859d879ac8b" /><br/>Доказаны общие генетические истоки шизофрении и творчества</a></li>
<li><a href="http://red-news.ru/ychenye-obiasnili-besslednoe-ischeznovenie-malaiziiskogo-boeing/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/fc82f6f03bec4f2269fcad9acb444f65.jpg" class="attachment-post-thumbnail wp-post-image" alt="fc82f6f03bec4f2269fcad9acb444f65" /><br/>Ученые объяснили бесследное исчезновение малайзийского Boeing</a></li>
<li><a href="http://red-news.ru/apple-anonsirovala-platnyi-myzykalnyi-servis-apple-music/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/431deefbdec40d244346df60a801beff.jpg" class="attachment-post-thumbnail wp-post-image" alt="431deefbdec40d244346df60a801beff" /><br/>Apple анонсировала платный музыкальный сервис Apple Music</a></li>
<li><a href="http://red-news.ru/mks-izbejala-stolknoveniia-s-oblomkom-amerikanskogo-spytnika/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/d535c5a63f26786c6620220aabb899da.jpg" class="attachment-post-thumbnail wp-post-image" alt="d535c5a63f26786c6620220aabb899da" /><br/>МКС избежала столкновения с обломком американского спутника</a></li>
<li><a href="http://red-news.ru/apple-predstavila-novyu-mobilnyu-platformy-ios-9/"><img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/b3df3c9392be513c12b9686b85893959.jpg" class="attachment-post-thumbnail wp-post-image" alt="b3df3c9392be513c12b9686b85893959" /><br/>Apple представила новую мобильную платформу iOS 9</a></li>
                    </ul>
                </div>
                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
      </div>
          <div class="row">
      <div class="col-md-9">
      <h4 class="block-title">Самое обсуждаемое</h4>
          <div class="post-block">
            <h2><a href="http://red-news.ru/v-kolizee-vosstanovili-lift-dlia-dikih-zverei/">В Колизее восстановили лифт для диких зверей</a></h2>
            <img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/7146368ef030cf5eb394a44549f9b1b6.jpg" class="attachment-post-thumbnail wp-post-image" alt="7146368ef030cf5eb394a44549f9b1b6" />            <p>Немецкие археологи восстановили деревянный лифт, по которому в римский Колизей поднимали львов. После открытия дверцы звери выбегали на арену и&#8230;</p>
          </div>
          <div class="post-block">
            <h2><a href="http://red-news.ru/amazon-zaimetsia-razrabotkoi-krypnogo-igrovogo-proekta/">Amazon займется разработкой крупного игрового проекта</a></h2>
            <img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/0d32482b6e3364e95165510170acbbd1.jpg" class="attachment-post-thumbnail wp-post-image" alt="0d32482b6e3364e95165510170acbbd1" />            <p>Компания Amazon открыла набор сотрудников для работы над крупным игровым проектом, передает портал IGN. Новинку готовят для PC. Пока неизвестно,&#8230;</p>
          </div>
          <div class="post-block">
            <h2><a href="http://red-news.ru/apple-predstavit-obnovleniia-ios-i-os-x-na-konferencii-wwdc/">Apple представит обновления iOS и OS X на конференции WWDC</a></h2>
            <img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/bebdc96c1464f03855513f246b88067a.jpg" class="attachment-post-thumbnail wp-post-image" alt="bebdc96c1464f03855513f246b88067a" />            <p>Компания Apple откроет в понедельник, 8 июня, последнюю в 2015 году крупную конференцию для разработчиков. Мероприятие Worldwide Developer Conference пройдет&#8230;</p>
          </div>
          <div class="post-block">
            <h2><a href="http://red-news.ru/rossiiskogo-boevogo-androida-naychat-begat-k-koncy-goda/">Российского боевого андроида научат бегать к концу года</a></h2>
            <img width="420" height="280" src="http://red-news.ru/wp-content/uploads/2015/06/891167979dbe1c5224e432ae0fde75ca.jpg" class="attachment-post-thumbnail wp-post-image" alt="891167979dbe1c5224e432ae0fde75ca" />            <p>Владимир Путин во время посещения ЦНИИ точного машиностроения (ЦНИИТОЧМАШ) в Климовске Конструкторы обучат российского боевого андроида бегать и преодолевать препятствия&#8230;</p>
          </div>
          <div style="clear:both"></div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-9">
          <h4 class="block-title">Самое популярное</h4>

          <div class="popular-block">
        <a href="http://red-news.ru/lenovo-anonsirovala-smartfon-s-predystanovlennoi-igroi-world-of-tanks/">
                    <img width="100" height="70" src="http://red-news.ru/wp-content/themes/red-news/img/nophoto.jpg" class="attachment-small-thumb wp-post-image" alt="">
                    Lenovo анонсировала смартфон с предустановленной игрой World of Tanks       </a>
      </div>
        <div class="popular-block">
        <a href="http://red-news.ru/videozapis-s-ypavshego-na-zemlu-obtekatelia-rakety-falcon-9-nashli-v-more/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/06/c526229f53248befbeae4df0d618b11b-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="c526229f53248befbeae4df0d618b11b" />         Видеозапись с упавшего на Землю обтекателя ракеты Falcon 9 нашли в море       </a>
      </div>

          </div>
          <div class="col-md-9">
          <h4 class="block-title">Россия</h4>
      <div class="popular-block">
        <a href="http://red-news.ru/peticiu-za-otstavky-astahova-podpisali-bolee-12-tysiach-chelovek/">
                    <img width="100" height="70" src="http://red-news.ru/wp-content/themes/red-news/img/nophoto.jpg" class="attachment-small-thumb wp-post-image" alt="">
                    Петицию за отставку Астахова подписали более 12 тысяч человек       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/syd-nakazal-mysylmanky-iz-pervoyralska-za-prizyv-ne-prazdnovat-novyi-god/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/faa02b82580fd268925d2084d30ee6a5-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="faa02b82580fd268925d2084d30ee6a5" />         Суд наказал мусульманку из Первоуральска за призыв не праздновать Новый год       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/syd-dal-voronejskomy-borcy-s-korrypciei-yslovnyi-srok-za-vziatky/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/accc22a767489d0e23e7ce3691713a6a-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="accc22a767489d0e23e7ce3691713a6a" />         Суд дал воронежскому борцу с коррупцией условный срок за взятку       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/pytin-prinial-otstavky-smolenskogo-gybernatora/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/87be9af6bb4c850c2867f0f1a4293903-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="87be9af6bb4c850c2867f0f1a4293903" />         Путин принял отставку смоленского губернатора       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/meriia-krasnoiarska-sobiraetsia-syditsia-s-investorom-krematoriia/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/2224674e434f3714d5616a187931bd12-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="2224674e434f3714d5616a187931bd12" />         Мэрия Красноярска собирается судиться с инвестором крематория       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/zakrytaia-posle-tverkinga-pchelok-shkola-tancev-v-orenbyrge-vozobnovila-raboty/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/9856256328cac510da01b3dcfb59443c-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="9856256328cac510da01b3dcfb59443c" />         Закрытая после тверкинга «пчелок» школа танцев в Оренбурге возобновила работу       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/vedyshaia-svadebnoi-ceremonii-obiasnila-pechal-chechenskoi-nevesty/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/7f5de234984568ead27bb86d65c97a1d-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="7f5de234984568ead27bb86d65c97a1d" />         Ведущая свадебной церемонии объяснила печаль чеченской невесты        </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/v-kremle-pohvalili-rossiiskih-hokkeistov/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/0b648d5056338b1c9eecba0280f8dae6-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="0b648d5056338b1c9eecba0280f8dae6" />         В Кремле похвалили российских хоккеистов        </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/peskov-prokommentiroval-priezd-nyland/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/17e795eb6feb9e04a996887c10f9ada8-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="17e795eb6feb9e04a996887c10f9ada8" />         Песков прокомментировал приезд Нуланд       </a>
      </div>
      <div class="popular-block">
        <a href="http://red-news.ru/v-kremle-otkazalis-kommentirovat-svadby-17-letnei-chechenki/">
          <img width="100" height="70" src="http://red-news.ru/wp-content/uploads/2015/05/4e95246fbe90f1a632ad648b1c3bf333-100x70.jpg" class="attachment-small-thumb wp-post-image" alt="4e95246fbe90f1a632ad648b1c3bf333" />         В Кремле отказались комментировать свадьбу 17-летней чеченки        </a>
      </div>

          </div>
        </div>
      </div>
      </div>    </div>
        <div class="col-md-3 sidebar">

    <h4>Топ видео</h4>
    <br/><a href="http://red-news.ru/oglashenie-prigovora-evgenii-vasilevoj/"><center><img src="http://red-news.ru/wp-content/plugins/automatic-youtube-video-posts/tools/timthumb.php?src=http://img.youtube.com/vi/g8hwPUg8Hi4/0.jpg&w=&h=&zc=0" alt="" title="" /><br/>Оглашение приговора Евгении Васильевой</center></a><br/><ul class="sidebar">
<li id="text-2" class="widget widget_text"><h2 class="widgettitle">Опрос</h2>
      <div class="textwidget"><img src="http://red-news.ru/wp-content/themes/red-news/img/promo1.jpg" alt="" style="max-width:100%;height:auto;margin-top:8px;"/><br/>
<center>
<a href="http://topblognews.ru/politika/trudno-by-t-bogom/">Просмотр фильма</a></center></div>
    </li>
<li id="polls-widget-2" class="widget widget_polls-widget"><div id="polls-1" class="wp-polls">
  <form id="polls_form_1" class="wp-polls-form" action="/index.php" method="post">
    <p style="display: none;"><input type="hidden" id="poll_1_nonce" name="wp-polls-nonce" value="9e79e7dc65" /></p>
    <p style="display: none;"><input type="hidden" name="poll_id" value="1" /></p>
    <p style="text-align: center;"><strong>Смотрели ли вы фильм "Президент"?</strong></p><div id="polls-1-ans" class="wp-polls-ans"><ul class="wp-polls-ul">
    <li><input type="radio" id="poll-answer-1" name="poll_1" value="1" /> <label for="poll-answer-1">Да</label></li>
    <li><input type="radio" id="poll-answer-2" name="poll_1" value="2" /> <label for="poll-answer-2">Нет</label></li>
    <li><input type="radio" id="poll-answer-3" name="poll_1" value="3" /> <label for="poll-answer-3">Планирую посмотреть</label></li>
    </ul><p style="text-align: center;"><input type="button" name="vote" value="   Голосовать   " class="Buttons" onclick="poll_vote(1);" /></p><p style="text-align: center;"><a href="#ViewPollResults" onclick="poll_result(1); return false;" title="Просмотр результатов голосования">Просмотр результатов</a></p></div>
  </form>
</div>
<div id="polls-1-loading" class="wp-polls-loading"><img src="http://red-news.ru/wp-content/plugins/wp-polls/images/loading.gif" width="16" height="16" alt="Loading ..." title="Loading ..." class="wp-polls-image" />&nbsp;Loading ...</div>
</li>
</ul>
<br/>
<div id="meteoprog_informer_standart" style="width:100%;" data-params="boy:Moscow:240x90:white:48x50" ><a href="http://www.meteoprog.ua/ru/">погода</a><br /><a href="http://www.meteoprog.ua/ru/weather/Moscow/">Погода в  Москве </a><br /></div><script src="http://www.meteoprog.ua/ru/weather/informer/standart.js"></script>

    </div>  </div>
</div>
<div class="container-fluid footer">
  <div class="row">
    <div class="col-xs-18">
    &copy; red-news.ru
    <div style="float:right;margin-top:-5px;">
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
    </div>
    </div>
  </div>
</div>
<div class="orphus"><img src="http://red-news.ru/wp-content/themes/red-news/img/orphus.gif" alt=""/></div>
<a href="http://orphus.ru" id="orphus" style="" target="_blank"><img alt="Система Orphus" src="http://red-news.ru/wp-content/themes/red-news/img/orphus.gif" border="0" width="240" height="80" /></a>

<script type='text/javascript'>
/* <![CDATA[ */
var pollsL10n = {"ajax_url":"http:\/\/red-news.ru\/wp-admin\/admin-ajax.php","text_wait":"Your last request is still being processed. Please wait a while ...","text_valid":"Please choose a valid poll answer.","text_multiple":"Maximum number of choices allowed: ","show_loading":"1","show_fading":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://red-news.ru/wp-content/plugins/wp-polls/polls-js.js?ver=2.68'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var countVars = {"disqusShortname":"rednewsdotru"};
/* ]]> */
</script>
<script type='text/javascript' src='http://red-news.ru/wp-content/plugins/disqus-comment-system/media/js/count.js?ver=4.1.5'></script>
  </body>
</html>