meta[charset="utf-8"]
meta[http-equiv="X-UA-Compatible" content="IE=edge"]
meta[name="viewport" content="width=device-width, initial-scale=1"]
link[rel="icon" href="http://red-news.ru/wp-content/themes/red-news/favicon.ico"]
title
  | Red News | Последние новости со всего мира
link[href="http://red-news.ru/wp-content/themes/red-news/css/bootstrap.min.css" rel="stylesheet"]
link[href="http://red-news.ru/wp-content/themes/red-news/css/jcarousel.responsive.css" rel="stylesheet"]
link[href="http://red-news.ru/wp-content/themes/red-news/style.css" rel="stylesheet"]
link[rel="canonical" href="http://red-news.ru/"]
link[rel="alternate" type="application/rss+xml" title="Red News &raquo; Лента комментариев к &laquo;Главная&raquo;" href="http://red-news.ru/glavnaya/feed/"]
link#ayvpp-admin-css[rel="stylesheet" href="http://red-news.ru/wp-content/plugins/automatic-youtube-video-posts/css/style.css?ver=4.1.5" type="text/css" media="all"]
link#wp-polls-css[rel="stylesheet" href="http://red-news.ru/wp-content/plugins/wp-polls/polls-css.css?ver=2.68" type="text/css" media="all"]
link#wp-pagenavi-css[rel="stylesheet" href="http://red-news.ru/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all"]
link#wordpress-popular-posts-css[rel="stylesheet" href="http://red-news.ru/wp-content/plugins/wordpress-popular-posts/style/wpp.css?ver=3.2.1" type="text/css" media="all"]
script[type="text/javascript"]
  | var ayvpp_root = "http://red-news.ru";
script[type="text/javascript" src="http://red-news.ru/wp-includes/js/jquery/jquery.js?ver=1.11.1"]
script[type="text/javascript" src="http://red-news.ru/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"]
link[rel="EditURI" type="application/rsd+xml" title="RSD" href="http://red-news.ru/xmlrpc.php?rsd"]
link[rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://red-news.ru/wp-includes/wlwmanifest.xml"]
meta[name="generator" content="WordPress 4.1.5"]
link[rel="shortlink" href="http://red-news.ru/"]
style[type="text/css"]
  |  .wp-polls .pollbar { margin: 1px; font-size: 6px; line-height: 8px; height: 8px; background-image: url('http://red-news.ru/wp-content/plugins/wp-polls/images/default/pollbg.gif'); border: 1px solid #c8c8c8; }
script[type="text/javascript"]
  | var ayvpp_root = "http://red-news.ru";
script[src="http://red-news.ru/wp-content/themes/red-news/js/jquery.jcarousel.min.js"]
script[src="http://red-news.ru/wp-content/themes/red-news/js/jcarousel.responsive.js"]
script[src="http://red-news.ru/wp-content/themes/red-news/js/jquery.mobilemenu.js"]
script[src="http://red-news.ru/wp-content/themes/red-news/js/bootstrap.min.js"]
script[type="text/javascript"]
  |  jQuery(document).ready(function () { jQuery('#wp-calendar a').attr('title', ''); jQuery('.menu ul').mobileMenu({ defaultText: 'Меню...', className: 'responsive-menu', subMenuDash: '-' }); });
script[type="text/javascript" src="http://red-news.ru/wp-content/themes/red-news/js/orphus.js"]